
* {
    box-sizing: border-box;
  }
  
  #slots_a,
  #slots_b,
  #slots_c {
    position: relative;
    justify-content: center;
    place-items: center;
    float: left;
    width: 86px;
    height: 180px;
    background-color: white;
    border: 2px palegoldenrod outset;
    overflow: hidden;
  }
  
  .wrapper {
    position: absolute;
    width: 46px;
  }
  
  .slot {
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 30px;
  }
  
  .slotglass-top {
    position: absolute;
    z-index: 999;
    width: 86px;
    height: 15px;
    background: -moz-linear-gradient(top, rgba(20,20,20,0.3), rgba(20,20,20,0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.3)), to(rgba(20,20,20,0)));
    background: -o-linear-gradient(top, rgba(20,20,20,0.3), rgba(20,20,20,0));
    background: linear-gradient(top, rgba(20,20,20,0.3), rgba(20,20,20,0));
  }
  
  .slotglass-bottom {
    position: absolute;
    z-index: 999;
    width: 86px;
    height: 15px;
    bottom: 0px;
    background: -moz-linear-gradient(top, rgba(20,20,20,0), rgba(20,20,20,0.3));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0)), to(rgba(20,20,20,0.3)));
    background: -o-linear-gradient(top, rgba(20,20,20,0), rgba(20,20,20,0.3));
    background: linear-gradient(top, rgba(20,20,20,0), rgba(20,20,20,0.3));
  }

  .slotline-top {
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 30px;
    opacity: 0.8;
    background-color: red;
  }
  
  .slotline-middle {
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 85px;
    opacity: 0.8;
    background-color: red;
  }

  .slotline-bottom {
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 140px;
    opacity: 0.8;
    background-color: red;
  }

  #a_naname-shita-slotline{
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 30px;
    opacity: 0.8;
    background-color: red;
    transform:rotate(33deg);
  }
  
  #b_naname-shita-slotline{
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 85px;
    opacity: 0.8;
    background-color: red;
    transform:rotate(33deg);
  }

  #c_naname-shita-slotline{
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 140px;
    opacity: 0.8;
    background-color: red;
    transform:rotate(33deg);
  }

  #a_naname-ue-slotline{
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 140px;
    opacity: 0.8;
    background-color: red;
    transform:rotate(-33deg);
  }

  #b_naname-ue-slotline{
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 85px;
    opacity: 0.8;
    background-color: red;
    transform:rotate(-33deg);
  }

  #c_naname-ue-slotline{
    position: absolute;
    z-index: 999;
    width: 80px;
    height: 2px;
    top: 30px;
    opacity: 0.8;
    background-color: red;
    transform:rotate(-33deg);
  }


  #slotbox {
    background-color: #A1272E;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
  }
  
  #slotMsg {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border: 1px #C0C0C0 inset;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
  }
  
  #startBtn {
    border-radius: 10px;
    background-color: gold;
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow:1px 1px 2px #333;
    outline: 0;
  }